body{
    margin: 0;
    background: #EEEEEC;
}

a,a:visited{
    text-decoration: none;
    color: unset;
}
 a:hover{
    color: darkred;
 }
 .link{
    position: relative;
    top: 6px;
    margin: 5px;
 }
h2 .link{
    margin-left: 10px;
    top: 5px;
}
.content{
    display: flex;
}
.details{
    display: flex;
    flex-direction: column;
    width: 58%;
    margin:0;
    justify-content: space-around;
}
.resume{
    width: 42%;
    padding: 0;
    background: #ffffff;
    overflow: auto;
}
hr{
    width: 95%;
    color: lightblue;

}
abbr{
    text-decoration: none;
}

.resume-img{
    display: block;
    width: 100%;
    height: 440px;
    margin-top: 0;
    background-image: url(imgs/foto_de_ander.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.name{
    display: inline-block;
    padding-right: 2%;
    margin: 0;
    padding: 0;
    margin-right: 10px;
    position: relative;
    top: 360px;
    color: white;
    text-shadow: 4px 4px 4px black,
                 4px 4px 4px black;
    left: 3%;
    letter-spacing: 4px;
    word-spacing: 4px;
}

.resume-list{
    margin-left: 4%;
    padding: 0;
    list-style: none;
}

.resume-item-1{
    margin: 1%;
    font-size: 110%;
    display: inline-block;
    margin-block:10px;
}
.resume-item-1 > img{
    height: 26px;
    width: 26px;
    display: inline-block;
    margin-right: 24px;
    position: relative;
    top: 4px;
}

.my-n,.my-e{
    width: 200px;
    height: 25px;
}
.resume-title{
    display: inline-block;
    margin-left: 5%;

}
.resume-title>img{
    position: relative;
    top: 8px;
    margin-right: 6px; 
}

.skill{
    width: 90%;
    margin-left: 4%;
    margin-right: 4%;
    text-align: center;
    border-radius: 10px;
    display: flex; 
    justify-content: flex-start;
    background: lightgrey;
}

.skill-percent{
    border: 2px solid #276A81;
    display: inline-block;
    margin: 0;
    padding: 0;
    height: 100%;
    border-radius: 8px;
    background: #276A81;
    color: white;
    text-shadow: 1px 1px 1px black;
    height: 19px;
}

.html-percent{
    width: 90%;
    height: 19px;
}

.css> p{

    width: 50%;

}
.spanish-percent{
    width: 100%;
}

.english-percent{
    width: 85%;
}

.sql, .english{

    margin-bottom: 4em;
}


.js-percent{
    width: 40%;
}

.python-percent{
    width: 40%;
}
.git-percent{
    width: 80%;
}
.sql-percent{
    width: 20%;
}
.skill-bar-title{
    margin: 5%;
}
.details-container{
    background: white;
    box-shadow: 2px 2px 2px 2px grey;
    margin: 1em;

}

.detail-title{
    font-weight: 450;
    font-family: sans-serif;
    font-size: 21px;
    color: lightgrey;
    text-shadow: 1px 1px 1px black;
}

.detail-description{
    font-family: arial;
    font-size: 17px;
    line-height: 2;
}
.details-list{
    margin: 5%;
    text-align: justify;
}

.detail-date>img,.details-title>img{
    display: inline-block;
    margin-right: 8px;
    position: relative;
    top:3px;
}
.date,.current{
    position: relative;
    display: inline-block;
    bottom:5px;
}
.details-title{
    font-family: times;
    font-weight: 300;
    font-size: 40px;
}


.current{
    background:#276A81;
    display: inline-block;
    border-radius: 40px;
    padding: .5em 1em;
    text-shadow: 1px 1px 1px black;
    color: white;
}

.social{
    border: 1px solid #276A81;

    background: #276A81;
    text-align: center;
    font-size: 90%;
    color: white;
    font-family: times;
    text-shadow: 1px 1px 1px black;
    font-size: 70%;
}
.media>a{
    margin: 1%;
    text-decoration: none;
}
.social>h1,.current{
    letter-spacing: 1px;
    word-spacing: 2px;
    font-weight: 100;
}

/*Responsiveness*/

@media (max-width:600px) {
    .content{
        display: flex;
        flex-direction: column;
        margin: 0;
        padding: 0;
    }
    .details,.details-container{
        width: 100%;
        line-height: 2;
        padding: 0;
        margin:0;
    }
    .resume{
        width: unset;
        padding: 0;
        background: #ffffff;
    }
    .details-container{
        box-shadow: unset;
        display: block;
        margin-top:8px;
    }
    .details-title{
        text-align:center;
        line-height: 1.3;

    }
    .details-title>img{
        right: 18px;
    }
  
}